<header>
  <nav>
    <a href="/">Home</a>
    <a href="/categories/creative/">Creative</a>
    <a href="/categories/data/">Data</a>
    <a href="/categories/engineering/">Engineering</a>
    <a href="/categories/finance/">Finance</a>
    <a href="/categories/language/">Language</a>
    <a href="/categories/law/">Law</a>
    <a href="/categories/medicine/">Medicine</a>
    <a href="/categories/misc/">Misc</a>
    <a href="/categories/operations/">Operations</a>
    <a href="/categories/sciences/">Sciences</a>
    <a href="/categories/tech/">Tech</a>
  </nav>
</header>
