---
layout: base.njk
---
{% block body %}
<article class="post">
  <h1 class="post-title">{{ title }}</h1>
  <p class="post-meta">Published on {{ date | date("dd LLL yyyy") }}</p>
  <div class="post-body">{{ body | renderBody | safe }}</div>
</article>
{% endblock %}
