<html>
<head>
    <!-- Head content here -->
</head>
<body>
    <header>
        <!-- Header content here -->
    </header>
    <main>
        <!-- Main content here -->
    </main>
    <footer>
        <footer content here>
    </footer>
    <script src="/scripts/main.js"></script>
</body>
</html>