---
layout: default
title: Explore Categories
permalink: "categories/index.html"
---

<section class="categories-master">
  

  <ul class="categories-list">
    {% for category in collections.categories %}
      <li>
        <a href="/categories/{{ category }}/">{{ category | capitalize }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

