// ... existing code ...
{% include "head.njk" %}
{% if data.title %}<title>{{ data.title }}</title>{% endif %}
<meta name="description" content="{{ data.description }}">
<!-- Add OpenGraph and Twitter Cards here -->
// ... rest of the code ...