---
layout: base.njk
title: Mercor Affiliate Blog
---

<h2>Latest Remote Creative Posts</h2>
{% include "category-loop.njk" %}
{% set category = "creative" %}

<h2>Latest Remote Engineering Posts</h2>
{% set category = "engineering" %}
{% include "category-loop.njk" %}

<h2>Latest Remote Data Posts</h2>
{% set category = "data" %}
{% include "category-loop.njk" %}

<h2>Latest Remote Finance Posts</h2>
{% set category = "finance" %}
{% include "category-loop.njk" %}

<h2>Latest Remote Operations Posts</h2>
{% set category = "operations" %}
{% include "category-loop.njk" %}

<h2>Latest Remote Medicine Posts</h2>
{% set category = "medicine" %}
{% include "category-loop.njk" %}

<h2>Latest Remote Law Posts</h2>
{% set category = "law" %}
{% include "category-loop.njk" %}

<h2>Latest Remote Sciences Posts</h2>
{% set category = "sciences" %}
{% include "category-loop.njk" %}

<h2>Latest Remote Language Posts</h2>
{% set category = "language" %}
{% include "category-loop.njk" %}

<h2>Latest Remote Miscellaneous Posts</h2>
{% set category = "misc" %}
{% include "category-loop.njk" %}
