---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  <!-- Homepage -->
  <url>
    <loc>{{ site.url }}/</loc>
    <priority>1.0</priority>
  </url>

  <!-- Categories master page -->
  <url>
    <loc>{{ site.url }}/categories/</loc>
    <priority>0.8</priority>
  </url>

  <!-- Individual category pages -->
  {% for category in collections.categories %}
    <url>
      <loc>{{ site.url }}/categories/{{ category }}/</loc>
      <priority>0.7</priority>
    </url>
  {% endfor %}

  <!-- Blog posts -->
  {% for post in collections.posts %}
    <url>
      <loc>{{ site.url }}{{ post.url }}</loc>
      <priority>0.6</priority>
    </url>
  {% endfor %}

  <!-- Pricing page -->
  <url>
    <loc>{{ site.url }}/pricing/</loc>
    <priority>0.5</priority>
  </url>

  <!-- Contact page -->
  <url>
    <loc>{{ site.url }}/contact/</loc>
    <priority>0.5</priority>
  </url>

</urlset>
